/* css */
.hexagon {
  width: 100%;
  height: 100%;
  /* background: #0b74de; */
  -webkit-clip-path: polygon(25% 6.699%, 75% 6.699%, 100% 50%, 75% 93.301%, 25% 93.301%, 0% 50%);
  clip-path: polygon(25% 6.699%, 75% 6.699%, 100% 50%, 75% 93.301%, 25% 93.301%, 0% 50%);
  box-shadow: 0 8px 20px rgba(3,45,64,0.12);
  display: inline-block;
}